* {
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

#app {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    font-size: 54px;
    background-color: #eff8ff;
}